/.bundle
/db/*.sqlite3
/db/*.sqlite3-journal
/log/*.log
/tmp
coverage
coverage/*
config/rapidconnect.yml
config/validator_service.yml
config/api-client.*
config/deploy.yml
config/event_encryption_key.pem
.DS_Store
public/404.html
public/422.html
public/500.html
.rubocop-*
.idea/
validator-service.iml
